<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../static/toggle_switch.js"></script>
    <title>MyFlix video</title>
</head>

<body>
    <h1>Welcome, {{ username }}</h1>

    {% from "video_helper.html" import video %}
    <h2>Suggested video:</h2>
    {{ video(recommended) }}

    <div class="container-fluid py-2">
        <h2>Liked videos:</h2>
        {% if not liked %}
            <p>None</p>
        {% else %}
            <div class="d-flex flex-row flex-nowrap">
                {% for l in liked %}
                    {{ video(l) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="container-fluid py-2">
        <h2>Watch later:</h2>
        {% if not watch_later%}
            <p>None</p>
        {% else %}
            <div class="d-flex flex-row flex-nowrap">
                {% for w in watch_later%}
                    {{ video(w) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>

</html>