{% macro video(data) -%}
<div class="card" style="max-width: fit-content;">
    <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
        poster='http://{{data["ip"]}}/pics/{{data["pic"]}}'
        data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
        <source src='http://{{data["ip"]}}/mp4/{{data["file"]}}' type='video/mp4' />
    </video>
    <h5 class="card-title">{{ data["title"] }}</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: {{ data["category"] }}</li>
        <li class="list-group-item">
            <div class="form-check form-switch">
                <label class="form-check-label">
                    <input class="form-check-input like-button" type="checkbox" role="switch" data-uuid={{ data["uuid"]
                        }}>
                    Like
                </label>
            </div>
        </li>
    </ul>
</div>
{% endmacro %}