{% macro video(data) -%}
{% set video, like, watch_later = data["video"], data["like"], data["watch_later"] %}
{% set ip, pic, file, title, category, uuid = video["ip"], video["pic"], video["file"], video["title"],
video["category"], video["uuid"] %}
<div class="card" style="max-width: fit-content;">
    <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
        poster='http://{{ip}}/pics/{{pic}}' data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
        <source src='http://{{ip}}/mp4/{{file}}' type='video/mp4' />
    </video>
    <h5 class="card-title">{{title}}</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: {{category}}</li>
        <li class="list-group-item">
            <div class="form-check form-switch">
                <label class="form-check-label">
                    <input class="form-check-input like-button" type="checkbox" role="switch" data-uuid={{ uuid }} {% if
                        video %} checked {% endif %}>
                    Like
                </label>
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label">
                    <input class="form-check-input watch-later-button" type="checkbox" role="switch" data-uuid={{ uuid
                        }} {% if watch_later %} checked {% endif %}>
                    Watch later
                </label>
            </div>
        </li>
    </ul>
</div>
{% endmacro %}